@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
.main-btn {
  cursor: pointer;
  min-width: 130px;
  height: 50px;
  padding: 10px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-size: 16px;
  color: #d0d5e5;
  background-color: transparent;
  border: 1px solid #d0d5e5;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out color, 0.2s ease-in-out background-color;
  transition: 0.2s ease-in-out color, 0.2s ease-in-out background-color;
}
.main-btn:hover {
  background-color: #03a79f;
  color: white;
}

.title {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #6f768f;
}
.title:before {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #6f768f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.default-radio {
  position: relative;
  display: inline-block;
  min-width: 100px;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #edeef5;
  border: 1px solid #6f768f;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out background-color;
  transition: 0.2s ease-in-out background-color;
}
.default-radio:hover {
  background-color: #03a79f;
}
.default-radio:hover .default-radio__title {
  color: #edeef5;
}
.default-radio:hover .default-radio__icon-title {
  fill: #edeef5;
  stroke: #edeef5;
}
.default-radio__icon-title {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.2s ease-in-out fill, 0.2s ease-in-out stroke;
  transition: 0.2s ease-in-out fill, 0.2s ease-in-out stroke;
  fill: #6f768f;
  stroke: #6f768f;
  stroke-width: 16px;
}
.default-radio__title {
  margin-left: 40px;
  position: relative;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
  color: #6f768f;
  font-weight: 600;
  font-size: 14px;
}
.default-radio__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.default-radio__input:checked ~ .default-radio__input-checked {
  display: block;
}
.default-radio__input:focus ~ .default-radio__input-checked {
  display: block;
  border: 4px solid #6f768f;
}
.default-radio__input:checked:focus ~ .default-radio__input-checked {
  display: block;
}
.default-radio__input:checked:focus ~ .default-radio__input-checked:after {
  background-color: #6f768f;
}
.default-radio__input-checked {
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  border: 4px solid #1178ee;
  border-radius: 5px;
  display: none;
}
.default-radio__input-checked:after {
  content: "✔";
  position: absolute;
  right: -12px;
  top: -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #1178ee;
  color: #edeef5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat";
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-inner {
  width: 100%;
  padding: 0 120px;
  margin: 0 auto;
}

.main-page {
  padding-top: 50px;
  background-color: #edeef5;
  min-height: 100vh;
  position: relative;
}

.form {
  background-color: white;
  border: 1px solid #d0d5e5;
  border-radius: 5px;
}

.content {
  padding: 100px 0px;
}
.content__title {
  visibility: hidden;
  height: 0px;
}

.header {
  padding: 50px 0;
  background-color: #edeef5;
}
.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #d0d5e5;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__btn-back, .header__btn-signin {
  -webkit-transition: 0.2s ease-in-out background-color;
  transition: 0.2s ease-in-out background-color;
}
.header__btn-back:hover .header__icon-back, .header__btn-back:hover .header__icon-signin, .header__btn-signin:hover .header__icon-back, .header__btn-signin:hover .header__icon-signin {
  -webkit-transition: 0.2s ease-in-out stroke;
  transition: 0.2s ease-in-out stroke;
  stroke: white;
}
.header__icon-back, .header__icon-signin {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  stroke: #d0d5e5;
  stroke-width: 24px;
  -webkit-transition: 0.2s ease-in-out stroke;
  transition: 0.2s ease-in-out stroke;
}
.header__icon-back {
  width: 35px;
  height: 35px;
}
.header__icon-signin {
  width: 25px;
  height: 25px;
}
.header__btn-text {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}
.header__logo {
  width: 100px;
  height: 100px;
}

.your-order {
  color: #6f768f;
  padding: 25px 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.your-order:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d0d5e5;
}
.your-order__text {
  width: 500px;
}
.your-order__title {
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}
.your-order__title:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -35px;
  background: url("../../icons/clipboard.svg") center center/cover no-repeat;
  width: 25px;
  height: 25px;
}
.your-order__list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}
.your-order__subtitle {
  font-size: 14px;
  text-transform: uppercase;
}
.your-order__text-info {
  font-size: 14px;
}
.your-order__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 100px;
  min-height: 100%;
}
.your-order__placeorder-btn, .your-order__print-btn {
  min-width: 200px;
  height: 50px;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
}
.your-order__placeorder-btn:not(:first-child), .your-order__print-btn:not(:first-child) {
  margin-top: 10px;
}
.your-order .help-center {
  max-width: 350px;
  height: 100%;
  padding-left: 20px;
  position: relative;
}
.your-order .help-center:after {
  content: "";
  position: absolute;
  left: -70px;
  bottom: 0;
  top: 0;
  width: 2px;
  background-color: #d0d5e5;
}
.your-order .help-center__title {
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}
.your-order .help-center__title:before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background: url("../../icons/lifebuoy.svg") center center/cover no-repeat;
}
.your-order .help-center__descr {
  margin-top: 15px;
  font-size: 14px;
}
.your-order .help-center__contacts {
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.your-order .help-center__link {
  color: #6f768f;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}
.your-order .help-center__link:hover {
  color: #03a79f;
}

.translate {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.translate__title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: #6f768f;
  letter-spacing: 2px;
  border-bottom: 1px solid #d0d5e5;
  padding-bottom: 10px;
}
.translate__title:before {
  display: none;
}
.translate__radio-block {
  margin-top: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 15px;
}
.translate__radio-label {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #6f768f;
  border-radius: 5px;
  padding: 30px 40px;
  width: 300px;
  min-height: 220px;
  background-color: #edeef5;
  box-shadow: 2px 2px 20px rgba(111, 118, 143, 0.2);
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out transform, 0.2s ease-in-out background-color, 0.2s ease-in-out color;
  transition: 0.2s ease-in-out transform, 0.2s ease-in-out background-color, 0.2s ease-in-out color;
}
.translate__radio-label:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #03a79f;
  color: #edeef5;
}
.translate__radio-label:hover .translate__radio-title {
  color: #edeef5;
}
.translate__radio-title {
  display: block;
  margin-top: auto;
  text-align: center;
  font-size: 20px;
  color: #6f768f;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}
.translate__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.translate__input:checked ~ .translate__input-checked {
  display: block;
}
.translate__input:focus ~ .translate__input-checked {
  display: block;
  border: 5px solid #6f768f;
}
.translate__input:checked:focus ~ .translate__input-checked {
  display: block;
}
.translate__input:checked:focus ~ .translate__input-checked:after {
  background-color: #6f768f;
}
.translate__input-img {
  display: block;
  width: 100px;
  height: 100px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
  border: 2px solid #6f768f;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.translate__input-checked {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #1178ee;
  border-radius: 5px;
  display: none;
}
.translate__input-checked:after {
  content: "✔";
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1178ee;
  color: #edeef5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.upload {
  padding: 50px 0;
}
.upload__title:before {
  content: "1";
}
.upload__title span {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #d0d5e5;
}
.upload__files-label {
  width: 100%;
}
.upload__files-label:hover .upload__files-input:before {
  background-color: #03a79f;
  color: #edeef5;
}
.upload__files-label:hover .upload__files-input:after {
  background: url("../../icons/upload-active.svg") center center/cover no-repeat;
}
.upload__files-input::-webkit-file-upload-button {
  visibility: hidden;
}
.upload__files-input {
  margin-top: 70px;
  width: 300px;
  height: 63px;
  position: relative;
  color: transparent;
  cursor: pointer;
}
.upload__files-input:before {
  content: "Upload a new file";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #edeef5;
  border: 1px solid #6f768f;
  border-radius: 5px;
  padding: 5px 8px;
  padding-left: 40px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  font-size: 16px;
  height: 50px;
  color: #6f768f;
  -webkit-transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color;
  transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color;
}
.upload__files-input:after {
  content: "";
  background: url("../../icons/upload.svg") center center/cover no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}
.upload__documents {
  margin-top: 30px;
  width: 100%;
  border: 1px solid #d0d5e5;
  border-radius: 5px;
  padding: 20px;
  border-spacing: 20px;
}
.upload__header th {
  font-size: 16px;
  font-weight: 600;
  color: #6f768f;
  text-align: left;
  text-transform: uppercase;
}
.upload__header th:last-child {
  text-align: center;
}
.upload__items td {
  color: #6f768f;
  font-size: 14px;
}
.upload__items td:first-child {
  padding-left: 40px;
  position: relative;
}
.upload__items td:first-child:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../../icons/files.svg") center center/cover no-repeat;
  width: 25px;
  height: 25px;
}
.upload__remove-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.upload__remove-btn:hover .upload__remove-icon {
  fill: #03a79f;
  stroke: black;
}
.upload__remove-icon {
  display: block;
  width: 25px;
  height: 25px;
  fill: #d0d5e5;
  stroke: #6f768f;
  stroke-width: 16px;
  -webkit-transition: 0.2s ease-in-out fill, 0.2s ease-in-out stroke;
  transition: 0.2s ease-in-out fill, 0.2s ease-in-out stroke;
}

.choose-languages {
  padding: 50px 0;
}
.choose-languages__title:before {
  content: "2";
}
.choose-languages__wrapper {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
}
.choose-languages__from {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.choose-languages__to {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 30px;
}
.choose-languages__name-to, .choose-languages__name-from {
  text-align: right;
  font-weight: 600;
  color: #6f768f;
  text-transform: uppercase;
  min-width: 50px;
}
.choose-languages__select-wrapper {
  position: relative;
  cursor: pointer;
}
.choose-languages__select-wrapper:after {
  content: "⮟";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  color: #6f768f;
  pointer-events: none;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}
.choose-languages__select-wrapper:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
  width: 2px;
  height: calc(100% - 2px);
  background-color: #d0d5e5;
  pointer-events: none;
  -webkit-transition: 0.2s ease-in-out background-color;
  transition: 0.2s ease-in-out background-color;
}
.choose-languages__select-wrapper:hover:after {
  color: #edeef5;
}
.choose-languages__select-wrapper:hover:before {
  background-color: #edeef5;
}
.choose-languages__select {
  padding: 10px 50px 10px 20px;
  min-height: 50px;
  min-width: 150px;
  color: #6f768f;
  font-weight: 600;
  border: 1px solid #6f768f;
  background-color: #edeef5;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline-offset: 2px;
  outline-color: #6f768f;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out background-color, 0.2s ease-in-out;
  transition: 0.2s ease-in-out background-color, 0.2s ease-in-out;
}
.choose-languages__select:hover {
  background-color: #03a79f;
  color: #edeef5;
}
.choose-languages__select:focus {
  background-color: #03a79f;
  color: #edeef5;
}
.choose-languages__remove-btn {
  background-color: transparent;
  border: none;
  display: inline;
  cursor: pointer;
}
.choose-languages__remove-btn:hover .choose-languages__remove-icon {
  fill: #03a79f;
  stroke: black;
}
.choose-languages__remove-icon {
  display: block;
  width: 25px;
  height: 25px;
  fill: #d0d5e5;
  stroke: #6f768f;
  stroke-width: 16px;
  -webkit-transition: 0.2s ease-in-out fill, 0.2s ease-in-out stroke;
  transition: 0.2s ease-in-out fill, 0.2s ease-in-out stroke;
}
.choose-languages__add-btn {
  position: relative;
  background-color: #edeef5;
  border: 1px solid #6f768f;
  border-radius: 5px;
  padding: 5px 20px;
  padding-left: 40px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  font-size: 16px;
  height: 50px;
  color: #6f768f;
  -webkit-transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color;
  transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color;
  cursor: pointer;
}
.choose-languages__add-btn:before {
  content: "+";
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  color: #6f768f;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}
.choose-languages__add-btn:hover {
  background-color: #03a79f;
  color: #edeef5;
}
.choose-languages__add-btn:hover:before {
  color: #edeef5;
}

.tone-and-urgency {
  padding: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tone__title:before {
  content: "3";
}
.tone__radio-block {
  margin-top: 30px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tone__default-radio {
  margin-top: 20px;
}

.urgency__wrapper {
  padding-left: 70px;
  max-width: 50%;
}
.urgency__title:before {
  content: "4";
}
.urgency__timeline {
  margin-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  background-color: #d0d5e5;
  border-radius: 15px;
  height: 20px;
}
.urgency__timeline-label {
  position: relative;
}
.urgency__timeline-legend {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 100px;
  display: block;
  text-align: center;
  color: #6f768f;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  height: 100%;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}
.urgency__timeline-legend:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  background-color: #6f768f;
  top: -31px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  border: 3px solid transparent;
  -webkit-transition: 0.2s ease-in-out background-color;
  transition: 0.2s ease-in-out background-color;
}
.urgency__timeline-legend_yellow {
  color: #ffa600;
}
.urgency__timeline-legend_yellow:before {
  background-color: #ffa600;
  width: 25px;
  height: 25px;
  top: -38px;
}
.urgency__timeline-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  z-index: 1;
  left: -7px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.urgency__timeline-input_yellow {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -12px;
  width: 25px;
  height: 25px;
}
.urgency__timeline-input:checked ~ .urgency__timeline-legend {
  color: #03a79f;
}
.urgency__timeline-input:checked ~ .urgency__timeline-legend:before {
  background-color: #03a79f;
  border: 3px solid black;
}
.urgency__timeline-input:hover ~ .urgency__timeline-legend {
  color: #1178ee;
}
.urgency__timeline-input:hover ~ .urgency__timeline-legend:before {
  background-color: #1178ee;
}
.urgency__timeline-info {
  margin-top: 80px;
  padding: 20px 20px 20px 55px;
  border: 1px solid #6f768f;
  border-radius: 5px;
}
.urgency__timeline-title {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  color: #6f768f;
}
.urgency__timeline-title:before {
  content: "";
  background: url("../../icons/info.svg") center center/cover no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -35px;
  width: 25px;
  height: 25px;
}
.urgency__timeline-descr {
  font-size: 14px;
  font-weight: 400;
  color: #6f768f;
}
.urgency__timeline-descr_mgt20 {
  margin-top: 20px;
}
.urgency__timeline-descr span {
  color: orange;
  font-weight: 600;
}

.payment {
  padding: 50px 0;
}
.payment__title:before {
  content: "5";
}
.payment__note {
  display: block;
  margin-top: 50px;
  color: #6f768f;
}
.payment__link {
  text-decoration: underline;
  color: #6f768f;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}
.payment__link:hover {
  color: #03a79f;
}
.payment .autorization {
  margin-top: 40px;
}
.payment .autorization__label {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.payment .autorization__label span {
  padding-left: 10px;
  text-transform: uppercase;
  color: #d0d5e5;
  font-weight: 600;
  font-size: 12px;
}
.payment .autorization__label input {
  margin-top: 10px;
  padding: 10px 20px;
  color: #6f768f;
  font-size: 16px;
  border: 1px solid #d0d5e5;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out border, 0.2s ease-in-out outline;
  transition: 0.2s ease-in-out border, 0.2s ease-in-out outline;
}
.payment .autorization__label input::-webkit-input-placeholder {
  color: #d0d5e5;
}
.payment .autorization__label input::-moz-placeholder {
  color: #d0d5e5;
}
.payment .autorization__label input:-ms-input-placeholder {
  color: #d0d5e5;
}
.payment .autorization__label input::-ms-input-placeholder {
  color: #d0d5e5;
}
.payment .autorization__label input::placeholder {
  color: #d0d5e5;
}
.payment .autorization__label input:hover {
  border: 1px solid #03a79f;
}
.payment .autorization__label input:focus {
  outline-color: #6f768f;
}
.payment .autorization__label input:focus:hover {
  outline-color: #03a79f;
}
.payment .autorization__wrapper {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.payment .choose-payment {
  margin-top: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.payment .choose-payment__default-radio {
  padding: 20px 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.payment .choose-payment__image {
  max-width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.payment .card-information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-top: 80px;
}
.payment .card-information__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.payment .card-information__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  border: none;
}
.payment .card-information__title {
  padding-left: 10px;
  color: #d0d5e5;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
.payment .card-information__card-number, .payment .card-information__card-date, .payment .card-information__card-cvv {
  margin-top: 10px;
  padding: 15px 20px;
  color: #6f768f;
  border: 1px solid #d0d5e5;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-in-out border;
  transition: 0.2s ease-in-out border;
  cursor: pointer;
}
.payment .card-information__card-number::-webkit-input-placeholder, .payment .card-information__card-date::-webkit-input-placeholder, .payment .card-information__card-cvv::-webkit-input-placeholder {
  color: #6f768f;
}
.payment .card-information__card-number::-moz-placeholder, .payment .card-information__card-date::-moz-placeholder, .payment .card-information__card-cvv::-moz-placeholder {
  color: #6f768f;
}
.payment .card-information__card-number:-ms-input-placeholder, .payment .card-information__card-date:-ms-input-placeholder, .payment .card-information__card-cvv:-ms-input-placeholder {
  color: #6f768f;
}
.payment .card-information__card-number::-ms-input-placeholder, .payment .card-information__card-date::-ms-input-placeholder, .payment .card-information__card-cvv::-ms-input-placeholder {
  color: #6f768f;
}
.payment .card-information__card-number::placeholder, .payment .card-information__card-date::placeholder, .payment .card-information__card-cvv::placeholder {
  color: #6f768f;
}
.payment .card-information__card-number:hover, .payment .card-information__card-date:hover, .payment .card-information__card-cvv:hover {
  border: 1px solid #03a79f;
}
.payment .card-information__card-number:focus, .payment .card-information__card-date:focus, .payment .card-information__card-cvv:focus {
  outline-color: #6f768f;
}
.payment .card-information__card-number:focus:hover, .payment .card-information__card-date:focus:hover, .payment .card-information__card-cvv:focus:hover {
  outline-color: #03a79f;
}
.payment .card-information__card-number {
  text-align: center;
  max-width: 80px;
  padding-left: 10px;
  padding-right: 10px;
}
.payment .card-information__card-cvv {
  max-width: 80px;
  text-align: center;
}

.agreement-and-order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}
.agreement-and-order__title {
  visibility: hidden;
  height: 0;
  width: 0;
}
.agreement-and-order__input {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.agreement-and-order__link, .agreement-and-order__label {
  color: #6f768f;
  font-size: 16px;
}
.agreement-and-order__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.agreement-and-order__label span {
  margin-left: 15px;
}
.agreement-and-order__link {
  text-decoration: underline;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}
.agreement-and-order__link:hover {
  color: #03a79f;
}

.footer {
  padding: 80px 0;
  background-color: #444961;
  position: relative;
}
.footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .about-us {
  max-width: 305px;
  color: #d0d5e5;
}
.footer .about-us__title:before {
  background: url("../../icons/heart.svg") center center/cover no-repeat;
}
.footer .about-us__descr {
  font-size: 14px;
  padding-left: 45px;
}
.footer .contacts__title:before {
  background: url("../../icons/compass.svg") center center/cover no-repeat;
}
.footer .contacts__info {
  padding-left: 45px;
}
.footer .contacts__list {
  font-size: 14px;
  color: #d0d5e5;
}
.footer .contacts__items {
  margin-top: 5px;
}
.footer .contacts__link {
  color: #d0d5e5;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}
.footer .contacts__link:hover {
  color: #03a79f;
}
.footer .social__title:before {
  background: url("../../icons/share.svg") center center/cover no-repeat;
}
.footer .social__list {
  padding-left: 45px;
  font-size: 14px;
}
.footer .social__items {
  margin-top: 20px;
  padding-left: 45px;
  position: relative;
}
.footer .social__link {
  display: block;
  width: 100%;
  color: #d0d5e5;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}
.footer .social__link:hover {
  color: #03a79f;
}
.footer .social__link:hover ~ .social__icon {
  stroke: #03a79f;
  fill: #03a79f;
}
.footer .social__icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  fill: #d0d5e5;
  stroke: #d0d5e5;
  stroke-width: 16px;
  -webkit-transition: 0.2s ease-in-out fill, 0.2s ease-in-out stroke;
  transition: 0.2s ease-in-out fill, 0.2s ease-in-out stroke;
}
.footer__title {
  padding-left: 45px;
  color: #d0d5e5;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  margin-bottom: 30px;
}
.footer__title:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.footer__image {
  display: block;
  max-width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1050px) {
  .main-page .your-order {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    row-gap: 50px;
  }
  .main-page .your-order__text {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .main-page .your-order__btns {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 0;
  }
  .main-page .your-order__help-center {
    padding-left: 0;
    width: 50%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-page .your-order__help-center:after {
    display: none;
  }
  .main-page .your-order .help-center__title:before {
    left: -35px;
    width: 30px;
    height: 30px;
  }
  .main-page .payment .card-information {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media (max-width: 950px) {
  .your-order {
    padding: 25px 70px;
  }
  .content .container-inner {
    padding: 0 70px;
  }
  .title:before {
    left: -50px;
  }
  .translate__radio-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .translate__radio-label {
    width: 48%;
  }
  .main-page .tone-and-urgency {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .main-page .tone__wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
  }
  .main-page .urgency__wrapper {
    max-width: 100%;
    margin-top: 100px;
    padding-left: 0;
  }
}
@media (max-width: 850px) {
  .payment .choose-payment__default-radio {
    padding: 10px;
  }
  .payment .choose-payment__image {
    max-width: 100%;
  }
  .footer .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    gap: 50px;
  }
}
@media (max-width: 770px) {
  .main-page {
    padding: 0;
  }
  .help-center__contacts {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    gap: 10px;
  }
  .upload__documents {
    padding: 0;
  }
  .upload__header th {
    font-size: 12px;
  }
  .upload__header th:first-child {
    width: 100%;
  }
  .upload__items td:first-child {
    width: 100%;
    text-align: left;
    word-break: break-all;
  }
  .payment .autorization__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .agreement-and-order {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .agreement-and-order__label {
    width: 100%;
  }
  .footer .about-us {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 620px) {
  .title {
    font-size: 16px;
  }
  .title:before {
    width: 25px;
    height: 25px;
    left: -35px;
  }
  .main-btn {
    font-size: 14px;
  }
  .content .container-inner {
    padding: 0 45px;
  }
  .container {
    padding: 0 10px;
  }
  .header__btn-back, .header__btn-signin {
    padding: 10px 10px;
  }
  .header__btn-text {
    margin-left: 10px;
  }
  .main-page .your-order {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page .your-order__help-center {
    width: 100%;
    max-width: 100%;
  }
  .translate__radio-title {
    font-size: 14px;
  }
  .urgency__timeline-legend {
    font-size: 12px;
  }
  .urgency__timeline-descr {
    font-size: 12px;
  }
  .payment .choose-payment {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media (max-width: 510px) {
  .content .container-inner {
    padding: 0 15px;
  }
  .title {
    margin-left: 30px;
  }
  .translate__radio-label {
    width: 100%;
  }
  .upload__files-input {
    padding-left: 8px;
    width: 100%;
  }
  .upload__items td:first-child {
    padding: 0;
  }
  .upload__items td:first-child:before {
    display: none;
  }
  .urgency__timeline {
    margin: 80px auto 0 auto;
    max-width: 80%;
  }
  .payment .card-information__card-number {
    width: 25%;
    padding: 15px 5px;
  }
}
@media (max-width: 400px) {
  .header {
    padding: 10px 0;
  }
  .main-page .your-order {
    padding: 50px;
  }
  .translate__title {
    margin: 0;
  }
  .choose-languages__wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .choose-languages__from {
    width: 100%;
  }
  .choose-languages__select-wrapper {
    width: 100%;
  }
  .choose-languages__select {
    width: 100%;
  }
  .choose-languages__to {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .choose-languages__name-to {
    min-width: auto;
  }
  .tone-and-urgency .tone__radio-block {
    width: 100%;
  }
  .footer {
    padding-bottom: 20px;
  }
  .footer .container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contacts, .footer__social {
    width: 100%;
  }
}