.agreement-and-order {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    &__title {
        visibility: hidden;
        height: 0;
        width: 0;
    }
    &__input {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    &__link, &__label {
        color: $dark-color;
        font-size: 16px;
    }
    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
            margin-left: 15px;
        }
    }
    &__link {
        text-decoration: underline;
        transition: 0.2s ease-in-out color;
        &:hover {
            color: $first-accent;
        }
    }
}