.footer {
    padding: 80px 0;
    background-color: #444961;
    position: relative;
    .container {
        display: flex;
        justify-content: space-between;
    }

    .about-us {
        max-width: 305px;
        color: $light-dark-color;
        &__title:before {
            background: url('../../icons/heart.svg') center center/cover no-repeat;
        }
        &__descr {
            font-size: 14px;
            padding-left: 45px;
        }
    }

    .contacts {
        &__title:before {
            background: url('../../icons/compass.svg') center center/cover no-repeat;
        }
        &__info {
            padding-left: 45px;
        }
        &__list {
            font-size: 14px;
            color: $light-dark-color;
        }
        &__items {
            margin-top: 5px;
        }
        &__link {
            color: $light-dark-color;
            transition: 0.2s ease-in-out color;
            &:hover {
                color: $first-accent;
            }
        }
    }

    .social {
        &__title:before {
            background: url('../../icons/share.svg') center center/cover no-repeat;
        }
        &__list {
            padding-left: 45px;
            font-size: 14px;
        }
        &__items {
            margin-top: 20px;
            padding-left: 45px;
            position: relative;
        }
        &__link {
            display: block;
            width: 100%;
            color: $light-dark-color;
            text-decoration: none;
            transition: 0.2s ease-in-out color;
            &:hover {
                color: $first-accent;
            }
            &:hover ~ .social__icon {
                stroke: $first-accent;
                fill: $first-accent;
            }
        }
        &__icon {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            fill: $light-dark-color;
            stroke: $light-dark-color;
            stroke-width: 16px;
            transition: 0.2s ease-in-out fill, 0.2s ease-in-out stroke;
        }
    }

    &__title {
        padding-left: 45px;
        color: $light-dark-color;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        margin-bottom: 30px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: red;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            
        }
    }
    

    &__image {
        display: block;
        max-width: 120px;
        object-fit: cover;
        user-select: none;
    }
}