.header {
    padding: 50px 0;
    background-color: $light-color;
    .container {
        display: flex;
        justify-content: space-between;
        color: $light-dark-color;
        align-items: center;
        column-gap: 30px;
    }
    &__btn-back, &__btn-signin {
        transition: 0.2s ease-in-out background-color;
        &:hover {
            .header__icon-back, .header__icon-signin {
                transition: 0.2s ease-in-out stroke;
                stroke: $hover-text;
            }
        }
    }
    &__icon-back, &__icon-signin {
        flex: 1 0 auto;
        stroke: $light-dark-color;
        stroke-width: 24px;
        transition: 0.2s ease-in-out stroke;
    }
    &__icon-back {
        width: 35px;
        height: 35px;
    }
    &__icon-signin {
        width: 25px;
        height: 25px;
    }
    &__btn-text {
        margin-left: 20px;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        transition: 0.2s ease-in-out color;
    }
    &__logo {
        width: 100px;
        height: 100px;
    }
}
