.payment {
    padding: 50px 0;
    &__title:before {
        content: '5';
    }
    &__note {
        display: block;
        margin-top: 50px;
        color: $dark-color;
    }
    &__link {
        text-decoration: underline;
        color: $dark-color;
        transition: 0.2s ease-in-out color;
        &:hover {
            color: $first-accent;
        }
    }
    .autorization {
        margin-top: 40px;
        &__label {
            display: inline-flex;
            flex-direction: column;
            span {
                padding-left: 10px;
                text-transform: uppercase;
                color: $light-dark-color;
                font-weight: 600;
                font-size: 12px;
            }
            input {
                margin-top: 10px;
                padding: 10px 20px;
                color: $dark-color;
                font-size: 16px;
                border: 1px solid $light-dark-color;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.2s ease-in-out border,  0.2s ease-in-out outline;
                &::placeholder {
                    color: $light-dark-color;
                }
                &:hover {
                    border: 1px solid $first-accent;
                }
                &:focus {
                    outline-color: $dark-color;
                }
                &:focus:hover {
                    outline-color: $first-accent;
                }
            }
        }
        &__wrapper {
            margin-top: 40px;
            display: flex;
            gap: 40px;
        }
    }

    .choose-payment {
        margin-top: 70px;
        display: flex;
        gap: 50px;
        &__default-radio {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__image {
            max-width: 120px;
            object-fit: cover;
        }
    }

    .card-information {
        display: flex;
        gap: 40px;
        margin-top: 80px;
        &__label {
            display: flex;
            flex-direction: column;
        }
        &__group {
            display: flex;
            gap: 15px;
            border: none;
        }
        &__title {
            padding-left: 10px;
            color: $light-dark-color;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
        }
        &__card-number, &__card-date, &__card-cvv {
            margin-top: 10px;
            padding: 15px 20px;
            color: $dark-color;
            border: 1px solid $light-dark-color;
            border-radius: 5px;
            transition: 0.2s ease-in-out border;
            cursor: pointer;
            &::placeholder {
                color: $dark-color;
            }
            &:hover {
                border: 1px solid $first-accent;
            }
            &:focus {
                outline-color: $dark-color;
            }
            &:focus:hover {
                outline-color: $first-accent;
            }
        }
        &__card-number {
            text-align: center;
            max-width: 80px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__card-cvv {
            max-width: 80px;
            text-align: center;
        }
    }
}
