.upload {
    padding: 50px 0;
    &__title:before {
        content: '1';   
    }
    &__title span {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 400;
        color: $light-dark-color;
    }
    &__files-label {
        width: 100%;
        &:hover {
            .upload__files-input:before {
                background-color: $first-accent;
                color: $light-color;
            }
            .upload__files-input:after {
                background: url('../../icons/upload-active.svg') center center/cover no-repeat;
            }
        }
    }
    &__files-input::-webkit-file-upload-button {
        visibility: hidden;
    }
    &__files-input {
        margin-top: 70px;
        width: 300px;
        height: 63px;
        position: relative;
        color: transparent;
        cursor: pointer;
        &:before {
            content: 'Upload a new file';
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $light-color;
            border: 1px solid $dark-color;
            border-radius: 5px;
            padding: 5px 8px;
            padding-left: 40px;
            outline: none;
            white-space: nowrap;
            user-select: none;
            font-weight: 600;
            font-size: 16px;
            height: 50px;
            color: $dark-color;
            transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color;
        }
        &:after {
            content: '';
            background: url('../../icons/upload.svg') center center/cover no-repeat;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            width: 40px;
            height: 40px;
            transition: 0.2s ease-in-out all;
        }
    }   

    &__documents {
        margin-top: 30px;
        width: 100%;
        border: 1px solid $light-dark-color;
        border-radius: 5px;
        padding: 20px;
        border-spacing: 20px;
    }
    &__header th {
        font-size: 16px;
        font-weight: 600;
        color: $dark-color;
        text-align: left;
        text-transform: uppercase;
        &:last-child {
            text-align: center;
        }
    }
    &__items td {
        color: $dark-color;
        font-size: 14px;
        &:first-child {
            padding-left: 40px;
            position: relative;
            &:before {
                content:'';
                display: block;
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                background: url('../../icons/files.svg') center center/cover no-repeat;
                width: 25px;
                height: 25px;
            }
        }
    }
    &__remove-btn {
        background-color: transparent;
        border: none;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        &:hover {
            .upload__remove-icon {
                fill: $first-accent;
                stroke: black;
            }
        }
    }
    &__remove-icon {
        display: block;
        width: 25px;
        height: 25px;
        fill: $light-dark-color;
        stroke: $dark-color;
        stroke-width: 16px;
        transition: 0.2s ease-in-out fill, 0.2s ease-in-out stroke;
    }
    
}
