.main-btn {
    cursor: pointer;
    min-width: 130px;
    height: 50px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    color: $light-dark-color;
    background-color: transparent;
    border: 1px solid $light-dark-color;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.2s ease-in-out color, 0.2s ease-in-out background-color;
    &:hover {
        background-color: $first-accent;
        color: $hover-text;
    }
}

